.version.about /* version checker */
{
	color: #000019;
	background-color: #2200F0;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 550px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#ppu67989-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -43px;
	margin-left: -100px;
}

#pu67989-3
{
	width: 0.01px;
	padding-bottom: 59px;
}

#u67989-3
{
	z-index: 58;
	min-height: 43px;
}

#u67989-3-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 58;
	top: -36px;
}

#u68033
{
	z-index: 104;
	width: 118px;
	top: -43px;
	left: -90px;
}

#u67987
{
	z-index: 109;
	width: 1160px;
	top: 7px;
	left: -100px;
}

#u67987_img
{
	padding-left: 1px;
}

#slideshowu12682
{
	z-index: 52;
	width: 0.01px;
	height: 558px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u12704
{
	position: absolute;
	width: 960px;
	height: 558px;
	background-color: transparent;
}

#u12704popup
{
	z-index: 53;
}

#u12707
{
	z-index: 54;
	width: 960px;
	height: 558px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12707_clip
{
	overflow: hidden;
	width: 960px;
	height: 558px;
}

#u12707_img
{
	margin-top: -73px;
	margin-bottom: -7px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u12728
{
	z-index: 56;
	width: 726px;
	border-style: none;
	border-color: transparent;
	background-color: #B1B1B1;
	background-color: rgba(100,100,100,0.5);
	padding-bottom: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 117px;
	-pie-background: rgba(100,100,100,0.5);
}

#u12729
{
	z-index: 57;
	width: 437px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #B1B1B1;
	background-color: rgba(100,100,100,0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 97px;
	padding: 67px 45px 68px;
	-pie-background: rgba(100,100,100,0.5);
}

#u12675-6
{
	z-index: 111;
	width: 437px;
	min-height: 29px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	font-family: playfair-display, serif;
	font-weight: 400;
	position: relative;
}

#u12677-6
{
	z-index: 117;
	width: 437px;
	min-height: 81px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	font-family: playfair-display, serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#u12681-4
{
	z-index: 123;
	width: 437px;
	min-height: 27px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	font-family: playfair-display, serif;
	font-weight: 400;
	margin-top: 26px;
	position: relative;
}

#menuu67990
{
	z-index: 61;
	width: 633px;
	top: -36px;
	left: 136px;
}

#u68005
{
	width: 80px;
	min-height: 42px;
	margin-right: -10000px;
}

#u68008
{
	width: 80px;
	padding-bottom: 25px;
}

#u68008.MuseMenuActive
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u68011-4
{
	width: 37px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 21px;
}

#u68008.MuseMenuActive #u68011-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u67998
{
	width: 81px;
	min-height: 42px;
	margin-right: -10000px;
	left: 82px;
}

#u67999
{
	width: 81px;
	padding-bottom: 25px;
}

#u67999:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u67999.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u68000-4
{
	width: 38px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 21px;
}

#u67999:hover #u68000-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u67999.MuseMenuActive #u68000-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u68026
{
	width: 106px;
	min-height: 42px;
	margin-right: -10000px;
	left: 165px;
}

#u68027
{
	width: 106px;
	padding-bottom: 25px;
}

#u68027:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u68027.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u68030-4
{
	width: 63px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 21px;
}

#u68027:hover #u68030-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u68027.MuseMenuActive #u68030-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u69240
{
	width: 100px;
	min-height: 42px;
	margin-right: -10000px;
	left: 273px;
}

#u69241
{
	width: 100px;
	padding-bottom: 25px;
}

#u69241:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u69241.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u69243-4
{
	width: 57px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 21px;
}

#u69241:hover #u69243-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u69241.MuseMenuActive #u69243-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u68019
{
	width: 91px;
	min-height: 42px;
	margin-right: -10000px;
	left: 375px;
}

#u68022
{
	width: 91px;
	padding-bottom: 25px;
}

#u68022:hover
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u68022.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u68023-4
{
	width: 48px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 21px;
}

#u68022:hover #u68023-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u68022.MuseMenuActive #u68023-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u68012
{
	width: 71px;
	min-height: 42px;
	margin-right: -10000px;
	left: 468px;
}

#u68013
{
	width: 71px;
	padding-bottom: 25px;
}

#u68013:hover
{
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u68013.MuseMenuActive
{
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u68016-4
{
	width: 29px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 21px;
}

#u68013:hover #u68016-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 29px;
	margin: 0px -10000px 0px 0px;
}

#u68013.MuseMenuActive #u68016-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 29px;
	margin: 0px -10000px 0px 0px;
}

#u67991
{
	width: 92px;
	min-height: 42px;
	margin-right: -10000px;
	left: 541px;
}

#u67992
{
	width: 92px;
	padding-bottom: 25px;
}

#u67992:hover
{
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u67992.MuseMenuActive
{
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u67993-4
{
	width: 50px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 21px;
}

#u67992:hover #u67993-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u67992.MuseMenuActive #u67993-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#ppbuttonu67973
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 616px;
}

#pbuttonu67973
{
	width: 0.01px;
	margin-left: 106px;
}

#buttonu67973
{
	z-index: 9;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
}

#buttonu67973:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu67974
{
	z-index: 10;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	left: 31px;
}

#buttonu67973.ButtonSelected,#buttonu67974:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu67975
{
	z-index: 11;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	left: 60px;
}

#buttonu67974.ButtonSelected,#buttonu67975:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu67975.ButtonSelected
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u23455-7
{
	z-index: 2;
	width: 200px;
	margin-top: 19px;
}

#buttonu67977
{
	z-index: 16;
	width: 109px;
	height: 42px;
	margin-right: -10000px;
	margin-top: 606px;
	left: 416px;
}

#buttonu67977:hover
{
	width: 109px;
	height: 42px;
	min-height: 0px;
	margin: 606px -10000px 0px 0px;
}

#buttonu67977.ButtonSelected
{
	width: 109px;
	height: 42px;
	min-height: 0px;
	margin: 606px -10000px 0px 0px;
}

#pu67976-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin: 602px -10000px -5px 705px;
}

#u67976-4
{
	z-index: 12;
	width: 136px;
}

#widgetu67978
{
	z-index: 17;
	width: 0.01px;
	height: 61px;
	margin-top: 2px;
}

#widgetu67979
{
	z-index: 18;
	width: 136px;
	height: 28px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu67979.fld-err-st
{
	width: 136px;
	height: 28px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u67981-4
{
	z-index: 19;
	width: 122px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
}

#widgetu67979:hover #u67981-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#widgetu67979.focus-st #u67981-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#widgetu67979.fld-err-st #u67981-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#widgetu67979_input,#widgetu67979_prompt
{
	width: 122px;
	min-height: 14px;
	padding: 6px;
}

#widgetu67979:hover #widgetu67979_input,#widgetu67979.focus-st #widgetu67979_input,#widgetu67979.fld-err-st #widgetu67979_input,#widgetu67979:hover #widgetu67979_prompt,#widgetu67979.focus-st #widgetu67979_prompt,#widgetu67979.fld-err-st #widgetu67979_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u67983-4
{
	z-index: 23;
	width: 135px;
	min-height: 12px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 31px;
}

#u67984-4
{
	z-index: 27;
	width: 134px;
	min-height: 26px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 31px;
}

#widgetu67978.frm-subm-err-st #u67984-4
{
	min-height: 30px;
}

#u67985-4
{
	z-index: 31;
	width: 135px;
	min-height: 12px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 31px;
}

#widgetu67978.frm-sub-st #u67983-4,#widgetu67978.frm-subm-ok-st #u67985-4
{
	min-height: 16px;
}

#u67986-17
{
	z-index: 35;
	min-height: 28px;
	width: 53px;
	margin-right: -10000px;
	left: 139px;
}

#buttonu68046
{
	z-index: 106;
	width: 25px;
	height: 25px;
	top: -24px;
	left: 925px;
}

#buttonu68046:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px;
}

#buttonu68047
{
	z-index: 107;
	width: 25px;
	height: 25px;
	top: -24px;
	left: 956px;
}

#buttonu68046.ButtonSelected,#buttonu68047:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px;
}

#buttonu68048
{
	z-index: 108;
	width: 25px;
	height: 25px;
	top: -24px;
	left: 985px;
}

#buttonu68047.ButtonSelected,#buttonu68048:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px;
}

#buttonu68048.ButtonSelected
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 10px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -601px;
}

