.version.contact /* version checker */
{
	color: #00001A;
	background-color: #C7DD1E;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 550px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#ppu67694-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -43px;
	margin-left: -100px;
}

#pu67694-3
{
	width: 0.01px;
	padding-bottom: 59px;
}

#u67694-3
{
	z-index: 107;
	min-height: 43px;
}

#u67694-3-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 107;
	top: -36px;
}

#u67738
{
	z-index: 153;
	width: 118px;
	top: -43px;
	left: -90px;
}

#u67692
{
	z-index: 158;
	width: 1160px;
	top: 7px;
	left: -100px;
}

#u67692_img
{
	padding-left: 1px;
}

#pslideshowu29695
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 17px;
}

#slideshowu29695
{
	z-index: 50;
	width: 0.01px;
	height: 558px;
	position: relative;
}

#u29698
{
	position: absolute;
	width: 960px;
	height: 558px;
	background-color: transparent;
}

#u29698popup
{
	z-index: 51;
}

#u29699
{
	z-index: 52;
	width: 960px;
	height: 558px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u29699_clip
{
	overflow: hidden;
	width: 960px;
	height: 558px;
}

#u29699_img
{
	margin-top: -40px;
	margin-bottom: -40px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u29498
{
	z-index: 105;
	width: 960px;
	background-color: transparent;
	top: -558px;
	margin-bottom: -1px;
	position: relative;
}

#u29498_img
{
	padding-right: 959px;
}

#pu12651
{
	width: 0.01px;
	margin-left: 241px;
	margin-top: -459px;
}

#u12651
{
	z-index: 54;
	width: 478px;
	border-style: none;
	border-color: transparent;
	background-color: #F9F9F9;
	background-color: rgba(244,244,244,0.5);
	padding-bottom: 33px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(244,244,244,0.5);
}

#u12635
{
	z-index: 55;
	width: 347px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 237px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 63px;
}

#u12636-4
{
	z-index: 56;
	width: 250px;
	min-height: 35px;
	background-color: transparent;
	line-height: 31px;
	text-align: center;
	font-size: 17px;
	font-family: playfair-display, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 49px;
}

#widgetu12637
{
	z-index: 60;
	width: 0.01px;
	height: 205px;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 130px;
}

#widgetu12639
{
	z-index: 61;
	width: 218px;
	height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: -1px;
}

#widgetu12639.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 218px;
	height: 26px;
	min-height: 0px;
	margin: 29px -10000px 0px 0px;
}

#u12640-4
{
	z-index: 62;
	width: 204px;
	min-height: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #646464;
	background-color: transparent;
	padding: 6px;
	line-height: 12px;
	text-align: center;
	font-size: 12px;
	color: #7F7F7F;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

.html,#widgetu12639.non-empty-st #u12640-4
{
	background-color: #FFFFFF;
}

#widgetu12639:hover #u12640-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 12px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12639.focus-st #u12640-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 12px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12639.non-empty-st #u12640-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12639:hover #u12640-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12639.focus-st #u12640-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12639_input,#widgetu12639_prompt
{
	width: 204px;
	min-height: 12px;
	color: #7F7F7F;
	text-align: center;
	font-family: raleway, sans-serif;
	font-size: 12px;
	font-weight: 400;
	padding: 6px;
}

#u12649-4
{
	z-index: 66;
	width: 215px;
	min-height: 13px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 13px;
	text-align: center;
	font-size: 11px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 188px;
}

#u12643-4
{
	z-index: 70;
	width: 215px;
	min-height: 13px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 13px;
	text-align: center;
	font-size: 11px;
	color: #C1272D;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 188px;
}

#widgetu12637.frm-sub-st #u12649-4,#widgetu12637.frm-subm-err-st #u12643-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 17px;
}

#widgetu12637.frm-subm-err-st #u12643-4 p
{
	color: #C1272D;
	text-align: center;
	font-size: 9px;
	line-height: 1;
	font-family: raleway, sans-serif;
	font-weight: 300;
	font-style: italic;
	padding: 0px;
}

#u12644-4
{
	z-index: 74;
	width: 215px;
	min-height: 12px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 11px;
	text-align: center;
	font-size: 11px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 188px;
}

#widgetu12637.frm-subm-ok-st #u12644-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 16px;
}

#widgetu12637.frm-sub-st #u12649-4 p,#widgetu12637.frm-subm-ok-st #u12644-4 p
{
	color: #999999;
	text-align: center;
	font-size: 9px;
	line-height: 1;
	font-family: raleway, sans-serif;
	font-weight: 300;
	font-style: italic;
	padding: 0px;
}

#u12638-17
{
	z-index: 78;
	min-height: 28px;
	width: 71px;
	position: relative;
	margin-right: -10000px;
	margin-top: 155px;
	left: 74px;
	background: url("../images/u12638-17.png") no-repeat 0px 0px;
}

#u12638-17:hover
{
	background: url("../images/u12638-17-r.png") no-repeat 0px 0px;
}

#u12638-17:active
{
	background: url("../images/u12638-17-m.png") no-repeat 0px 0px;
}

#widgetu12637.frm-sub-st #u12638-17
{
	background: url("../images/u12638-17-fs.png") no-repeat 0px 0px;
}

#widgetu12645
{
	z-index: 95;
	width: 218px;
	height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu12645.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 218px;
	height: 26px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u12646-4
{
	z-index: 96;
	width: 204px;
	min-height: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #646464;
	background-color: transparent;
	padding: 6px;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	color: #7F7F7F;
	font-family: raleway, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

#widgetu12645.non-empty-st #u12646-4
{
	background-color: #FFFFFF;
}

#widgetu12645:hover #u12646-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 12px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12645.focus-st #u12646-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 12px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12639.fld-err-st #u12640-4,#widgetu12645.fld-err-st #u12646-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 12px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12645.non-empty-st #u12646-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12645:hover #u12646-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12645.focus-st #u12646-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12645_input,#widgetu12645_prompt
{
	width: 204px;
	min-height: 12px;
	color: #7F7F7F;
	text-align: center;
	font-family: raleway, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	padding: 6px;
}

#widgetu12669
{
	z-index: 100;
	width: 218px;
	height: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: -1px;
}

#widgetu12669.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 218px;
	height: 85px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
}

#u12671-4
{
	z-index: 101;
	width: 204px;
	min-height: 71px;
	border-width: 1px;
	border-style: solid;
	border-color: #646464;
	background-color: transparent;
	padding: 6px;
	line-height: 12px;
	text-align: center;
	font-size: 12px;
	color: #7F7F7F;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu12669.non-empty-st #u12671-4
{
	background-color: #FFFFFF;
}

#widgetu12669:hover #u12671-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 71px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12669.focus-st #u12671-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 71px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12669.fld-err-st #u12671-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 71px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12669.non-empty-st #u12671-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12669:hover #u12671-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12669.focus-st #u12671-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12639.fld-err-st #u12640-4 *,#widgetu12645.fld-err-st #u12646-4 *,#widgetu12669.fld-err-st #u12671-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu12669_input,#widgetu12669_prompt
{
	width: 204px;
	min-height: 71px;
	color: #7F7F7F;
	text-align: center;
	font-family: raleway, sans-serif;
	font-size: 12px;
	font-weight: 400;
	padding: 6px;
}

#widgetu12645.focus-st #widgetu12645_prompt,#widgetu12669.focus-st #widgetu12669_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu12639.non-empty-st #widgetu12639_prompt,#widgetu12645.non-empty-st #widgetu12645_prompt,#widgetu12669.non-empty-st #widgetu12669_prompt
{
	visibility: hidden;
}

#menuu67695
{
	z-index: 110;
	width: 633px;
	top: -36px;
	left: 136px;
}

#u67710
{
	width: 80px;
	min-height: 42px;
	margin-right: -10000px;
}

#u67713
{
	width: 80px;
	padding-bottom: 25px;
}

#u67713.MuseMenuActive
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u67716-4
{
	width: 37px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 21px;
}

#u67713.MuseMenuActive #u67716-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u67703
{
	width: 81px;
	min-height: 42px;
	margin-right: -10000px;
	left: 82px;
}

#u67704
{
	width: 81px;
	padding-bottom: 25px;
}

#u67704:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u67704.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u67705-4
{
	width: 38px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 21px;
}

#u67704:hover #u67705-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u67704.MuseMenuActive #u67705-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u67731
{
	width: 106px;
	min-height: 42px;
	margin-right: -10000px;
	left: 165px;
}

#u67732
{
	width: 106px;
	padding-bottom: 25px;
}

#u67732.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u67735-4
{
	width: 63px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 21px;
}

#u67732:hover #u67735-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u67732.MuseMenuActive #u67735-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u69247
{
	width: 100px;
	min-height: 42px;
	margin-right: -10000px;
	left: 273px;
}

#u69250
{
	width: 100px;
	padding-bottom: 25px;
}

#u69250:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u69250.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u69252-4
{
	width: 57px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 21px;
}

#u69250:hover #u69252-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u69250.MuseMenuActive #u69252-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u67724
{
	width: 91px;
	min-height: 42px;
	margin-right: -10000px;
	left: 375px;
}

#u67727
{
	width: 91px;
	padding-bottom: 25px;
}

#u67727:hover
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u67727.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u67728-4
{
	width: 48px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 21px;
}

#u67727:hover #u67728-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u67727.MuseMenuActive #u67728-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u67717
{
	width: 71px;
	min-height: 42px;
	margin-right: -10000px;
	left: 468px;
}

#u67718
{
	width: 71px;
	padding-bottom: 25px;
}

#u67718:hover
{
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u67718.MuseMenuActive
{
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u67721-4
{
	width: 29px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 21px;
}

#u67718:hover #u67721-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 29px;
	margin: 0px -10000px 0px 0px;
}

#u67718.MuseMenuActive #u67721-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 29px;
	margin: 0px -10000px 0px 0px;
}

#u67696
{
	width: 92px;
	min-height: 42px;
	margin-right: -10000px;
	left: 541px;
}

#u67697
{
	width: 92px;
	padding-bottom: 25px;
}

#u67697:hover
{
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u67697.MuseMenuActive
{
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u67698-4
{
	width: 50px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 21px;
}

#u67697:hover #u67698-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u67697.MuseMenuActive #u67698-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#ppbuttonu30081
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 607px;
}

#pbuttonu30081
{
	width: 0.01px;
	margin-left: 106px;
}

#buttonu30081
{
	z-index: 2;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
}

#buttonu30081:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu30070
{
	z-index: 3;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	left: 31px;
}

#buttonu30081.ButtonSelected,#buttonu30070:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu30083
{
	z-index: 4;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	left: 60px;
}

#buttonu30070.ButtonSelected,#buttonu30083:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu30083.ButtonSelected
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30082-5
{
	z-index: 5;
	width: 200px;
	margin-top: 19px;
}

#buttonu30293
{
	z-index: 14;
	width: 109px;
	height: 42px;
	margin-right: -10000px;
	margin-top: 598px;
	left: 416px;
}

#buttonu30293:hover
{
	width: 109px;
	height: 42px;
	min-height: 0px;
	margin: 598px -10000px 0px 0px;
}

#buttonu30293.ButtonSelected
{
	width: 109px;
	height: 42px;
	min-height: 0px;
	margin: 598px -10000px 0px 0px;
}

#pu30233-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin: 593px -10000px -5px 705px;
}

#u30233-4
{
	z-index: 10;
	width: 136px;
}

#widgetu30302
{
	z-index: 15;
	width: 0.01px;
	height: 61px;
	margin-top: 2px;
}

#widgetu30306
{
	z-index: 16;
	width: 136px;
	height: 28px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu30306.fld-err-st
{
	width: 136px;
	height: 28px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u30307-4
{
	z-index: 17;
	width: 122px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
}

#widgetu30306:hover #u30307-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#widgetu30306.focus-st #u30307-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#widgetu30306.fld-err-st #u30307-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#widgetu30306_input,#widgetu30306_prompt
{
	width: 122px;
	min-height: 14px;
	padding: 6px;
}

#widgetu12639:hover #widgetu12639_input,#widgetu12639.focus-st #widgetu12639_input,#widgetu12639.fld-err-st #widgetu12639_input,#widgetu12639:hover #widgetu12639_prompt,#widgetu12639.focus-st #widgetu12639_prompt,#widgetu12639.fld-err-st #widgetu12639_prompt,#widgetu12645:hover #widgetu12645_input,#widgetu12645.focus-st #widgetu12645_input,#widgetu12645.fld-err-st #widgetu12645_input,#widgetu12645:hover #widgetu12645_prompt,#widgetu12645.fld-err-st #widgetu12645_prompt,#widgetu12669:hover #widgetu12669_input,#widgetu12669.focus-st #widgetu12669_input,#widgetu12669.fld-err-st #widgetu12669_input,#widgetu12669:hover #widgetu12669_prompt,#widgetu12669.fld-err-st #widgetu12669_prompt,#widgetu30306:hover #widgetu30306_input,#widgetu30306.focus-st #widgetu30306_input,#widgetu30306.fld-err-st #widgetu30306_input,#widgetu30306:hover #widgetu30306_prompt,#widgetu30306.focus-st #widgetu30306_prompt,#widgetu30306.fld-err-st #widgetu30306_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u30305-4
{
	z-index: 21;
	width: 135px;
	min-height: 12px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 31px;
}

#u30304-4
{
	z-index: 25;
	width: 134px;
	min-height: 26px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 31px;
}

#widgetu30302.frm-subm-err-st #u30304-4
{
	min-height: 30px;
}

#u30303-4
{
	z-index: 29;
	width: 135px;
	min-height: 12px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 31px;
}

#widgetu30302.frm-sub-st #u30305-4,#widgetu30302.frm-subm-ok-st #u30303-4
{
	min-height: 16px;
}

#u30310-17
{
	z-index: 33;
	min-height: 28px;
	width: 53px;
	margin-right: -10000px;
	left: 139px;
}

#buttonu68051
{
	z-index: 155;
	width: 25px;
	height: 25px;
	top: -26px;
	left: 925px;
}

#buttonu68051:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px;
}

#buttonu68052
{
	z-index: 156;
	width: 25px;
	height: 25px;
	top: -26px;
	left: 956px;
}

#buttonu68051.ButtonSelected,#buttonu68052:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px;
}

#buttonu68053
{
	z-index: 157;
	width: 25px;
	height: 25px;
	top: -26px;
	left: 985px;
}

#buttonu68052.ButtonSelected,#buttonu68053:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px;
}

#buttonu68053.ButtonSelected
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 10px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -593px;
}

