#u67574-3
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
}

#menuu29604
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u29627
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u29629-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	font-family: playfair-display, serif;
	font-weight: 400;
	position: relative;
}

#u29608
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u29608:hover
{
	border-color: #22B573;
}

#u29609-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #000000;
	font-family: playfair-display, serif;
	font-weight: 400;
	position: relative;
}

#u29608:hover #u29609-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u64160
{
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u64163-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #000000;
	font-family: playfair-display, serif;
	font-weight: 400;
	position: relative;
}

#u29608.MuseMenuActive #u29609-4 p,#u64160:hover #u64163-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u69257
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u69257:hover
{
	border-color: #22B573;
}

#u69258-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #000000;
	font-family: playfair-display, serif;
	font-weight: 400;
	position: relative;
}

#u64160.MuseMenuActive #u64163-4 p,#u69257:hover #u69258-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u29615
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u29615:hover
{
	border-color: #22B573;
}

#u29618-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #000000;
	font-family: playfair-display, serif;
	font-weight: 400;
	position: relative;
}

#u69257.MuseMenuActive #u69258-4 p,#u29615:hover #u29618-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u67556
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u67556:hover
{
	border-color: #22B573;
}

#u29608.MuseMenuActive,#u69257.MuseMenuActive,#u29615.MuseMenuActive,#u67556.MuseMenuActive
{
	border-color: #FFFFFF;
}

#u67559-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #000000;
	font-family: playfair-display, serif;
	font-weight: 400;
	position: relative;
}

#u29615.MuseMenuActive #u29618-4 p,#u67556:hover #u67559-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u29626,#u29605,#u64157,#u69254,#u29612,#u67553,#u29619
{
	background-color: transparent;
	position: relative;
}

#u29620
{
	background-color: #FFFFFF;
	position: relative;
}

#u29620:hover
{
	border-color: #22B573;
}

#u29620.MuseMenuActive
{
	border-color: #000000;
}

#u29621-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #000000;
	font-family: playfair-display, serif;
	font-weight: 400;
	position: relative;
}

#u67556.MuseMenuActive #u67559-4 p,#u29620:hover #u29621-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u29620.MuseMenuActive #u29621-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u29535,#u67575
{
	background-color: transparent;
	position: fixed;
}

#u30028
{
	position: absolute;
}

#u30029
{
	border-width: 1px;
	border-style: solid;
	border-color: #F4F4F4;
	background-color: #FFFFFF;
	position: relative;
}

#u30030-6
{
	background-color: transparent;
	text-align: left;
	color: #7F7F7F;
	position: relative;
}

#u30030-2
{
	line-height: 11px;
}

#u30030-4
{
	font-size: 9px;
	line-height: 13px;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

#pamphletu30027,#u30044
{
	position: relative;
}

#u30045
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
}

#u30045:hover
{
	border-style: none;
	border-color: transparent;
}

#u30045.PamphletThumbSelected
{
	background-color: transparent;
	border-radius: 10px;
}

#u30066-4
{
	background-color: transparent;
	line-height: 11px;
	text-align: right;
	font-size: 9px;
	color: #7F7F7F;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
}

#u30045.PamphletThumbSelected #u30066-4 p
{
	color: #7F7F7F;
	visibility: inherit;
	text-align: right;
	font-size: 9px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#buttonu30277
{
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(33)-buttonu30277-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu30277:hover
{
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(33)-buttonu30277-r-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu30277.ButtonSelected
{
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(33)-buttonu30277-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu30278
{
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(24)-buttonu30278-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu30278:hover
{
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(24)-layer%200.png") no-repeat center center;
	background-size: cover;
}

#buttonu30278.ButtonSelected
{
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(24)-buttonu30278-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu30279
{
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(6)-buttonu30279-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu30279:hover
{
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(6)-layer%200.png") no-repeat center center;
	background-size: cover;
}

#buttonu30279.ButtonSelected
{
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(6)-buttonu30279-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu30280
{
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	background: transparent url("../images/mrmrs%20logo_gray.png") no-repeat center center;
	background-size: cover;
}

#buttonu30280:hover
{
	background: transparent url("../images/mrmrs%20logo_gray-layer%203.png") no-repeat center center;
	background-size: cover;
}

#buttonu30280.ButtonSelected
{
	background: transparent url("../images/mrmrs%20logo_gray.png") no-repeat center center;
	background-size: cover;
}

#u30281-5
{
	background-color: transparent;
	text-align: left;
	font-size: 12px;
	line-height: 14px;
	color: #282828;
	font-family: playfair-display, serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u30281
{
	font-family: playfair-display, serif;
	font-weight: 400;
}

#u30248-5
{
	background-color: transparent;
	line-height: 16px;
	text-align: left;
	font-size: 13px;
	color: #646464;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
}

#u30248-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u30248
{
	font-size: 9px;
	color: #7F7F7F;
	line-height: 11px;
}

#u30248-2
{
	font-size: 12px;
	color: #7F7F7F;
	line-height: 14px;
}

