#u67694-3
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
}

#u67738,#u67692
{
	background-color: transparent;
	position: fixed;
}

#menuu67695
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u67713
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u67716-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	font-family: playfair-display, serif;
	font-weight: 400;
	position: relative;
}

#u67704
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u67704:hover
{
	border-color: #22B573;
}

#u67705-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #000000;
	font-family: playfair-display, serif;
	font-weight: 400;
	position: relative;
}

#u67704:hover #u67705-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u67732
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u67735-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #000000;
	font-family: playfair-display, serif;
	font-weight: 400;
	position: relative;
}

#u67704.MuseMenuActive #u67705-4 p,#u67732:hover #u67735-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u69250
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u69250:hover
{
	border-color: #22B573;
}

#u69252-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #000000;
	font-family: playfair-display, serif;
	font-weight: 400;
	position: relative;
}

#u67732.MuseMenuActive #u67735-4 p,#u69250:hover #u69252-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u67727
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u67727:hover
{
	border-color: #22B573;
}

#u67728-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #000000;
	font-family: playfair-display, serif;
	font-weight: 400;
	position: relative;
}

#u69250.MuseMenuActive #u69252-4 p,#u67727:hover #u67728-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u67718
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u67718:hover
{
	border-color: #22B573;
}

#u67704.MuseMenuActive,#u69250.MuseMenuActive,#u67727.MuseMenuActive,#u67718.MuseMenuActive
{
	border-color: #FFFFFF;
}

#u67721-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #000000;
	font-family: playfair-display, serif;
	font-weight: 400;
	position: relative;
}

#u67727.MuseMenuActive #u67728-4 p,#u67718:hover #u67721-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u67710,#u67703,#u67731,#u69247,#u67724,#u67717,#u67696
{
	background-color: transparent;
	position: relative;
}

#u67697
{
	background-color: #FFFFFF;
	position: relative;
}

#u67697:hover
{
	border-color: #22B573;
}

#u67697.MuseMenuActive
{
	border-color: #000000;
}

#u67698-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #000000;
	font-family: playfair-display, serif;
	font-weight: 400;
	position: relative;
}

#u67718.MuseMenuActive #u67721-4 p,#u67697:hover #u67698-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u67697.MuseMenuActive #u67698-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#buttonu30081
{
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(33)-buttonu30277-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu30081:hover
{
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(33)-buttonu30277-r-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu30070
{
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(24)-buttonu30278-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu30070:hover
{
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(24)-layer%200.png") no-repeat center center;
	background-size: cover;
}

#buttonu30083
{
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(6)-buttonu30279-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu30083:hover
{
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(6)-layer%200.png") no-repeat center center;
	background-size: cover;
}

#u30082-5
{
	background-color: transparent;
	line-height: 16px;
	text-align: left;
	font-size: 13px;
	color: #646464;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
}

#u30082-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u30082
{
	font-size: 9px;
	color: #7F7F7F;
	line-height: 11px;
}

#u30082-2
{
	font-size: 12px;
	color: #7F7F7F;
	line-height: 14px;
}

#buttonu30293
{
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	background: transparent url("../images/mrmrs%20logo_gray.png") no-repeat center center;
	background-size: cover;
}

#buttonu30293:hover
{
	background: transparent url("../images/mrmrs%20logo_gray-layer%203.png") no-repeat center center;
	background-size: cover;
}

#buttonu30293.ButtonSelected
{
	background: transparent url("../images/mrmrs%20logo_gray.png") no-repeat center center;
	background-size: cover;
}

#u30233-4
{
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #282828;
	font-family: playfair-display, serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu30302
{
	position: relative;
}

#widgetu30306
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#widgetu30306.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
}

#u30307-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #D2D2D2;
	background-color: #D2D2D2;
	line-height: 11px;
	text-align: left;
	font-size: 11px;
	color: #505050;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
}

#widgetu30306.non-empty-st #u30307-4
{
	background-color: #FFFFFF;
}

#widgetu30306:hover #u30307-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu30306.focus-st #u30307-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu30306.fld-err-st #u30307-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
}

#widgetu30306.non-empty-st #u30307-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu30306:hover #u30307-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu30306.focus-st #u30307-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu30306.fld-err-st #u30307-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu30306_input,#widgetu30306_prompt
{
	color: #505050;
	text-align: left;
	font-family: raleway, sans-serif;
	font-size: 11px;
	font-weight: 400;
}

#widgetu30306.non-empty-st #widgetu30306_prompt
{
	visibility: hidden;
}

#u30305-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 11px;
	text-align: center;
	font-size: 9px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
}

#widgetu30302.frm-sub-st #u30305-4 p
{
	color: #999999;
	padding-left: 0px;
	text-align: center;
	font-size: 9px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 1;
	font-family: raleway, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u30304-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 13px;
	font-size: 11px;
	color: #C1272D;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu30302.frm-subm-err-st #u30304-4 p
{
	color: #C1272D;
	padding-left: 0px;
	text-align: center;
	font-size: 9px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 1;
	font-family: raleway, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u30303-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 11px;
	text-align: center;
	font-size: 11px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu30302.frm-sub-st #u30305-4,#widgetu30302.frm-subm-err-st #u30304-4,#widgetu30302.frm-subm-ok-st #u30303-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#widgetu30302.frm-subm-ok-st #u30303-4 p
{
	color: #999999;
	padding-left: 0px;
	text-align: center;
	font-size: 9px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 1;
	font-family: raleway, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u30310-17
{
	position: relative;
	background: url("../images/u30310-17.png") no-repeat 0px 0px;
}

#u30310-17:hover
{
	background: url("../images/u30310-17-r.png") no-repeat 0px 0px;
}

#u30310-17:active
{
	background: url("../images/u30310-17-m.png") no-repeat 0px 0px;
}

#widgetu30302.frm-sub-st #u30310-17
{
	background: url("../images/u30310-17-fs.png") no-repeat 0px 0px;
}

#buttonu68051
{
	border-color: #787878;
	border-radius: 10px;
	position: fixed;
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(33)-buttonu30277-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu68051:hover
{
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(33)-buttonu30277-r-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu30081.ButtonSelected,#buttonu68051.ButtonSelected
{
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(33)-buttonu30277-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu68052
{
	border-color: #787878;
	border-radius: 10px;
	position: fixed;
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(24)-buttonu30278-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu68052:hover
{
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(24)-layer%200.png") no-repeat center center;
	background-size: cover;
}

#buttonu30070.ButtonSelected,#buttonu68052.ButtonSelected
{
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(24)-buttonu30278-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu68053
{
	border-color: #787878;
	border-radius: 10px;
	position: fixed;
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(6)-buttonu30279-fr.png") no-repeat center center;
	background-size: cover;
}

#buttonu68053:hover
{
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(6)-layer%200.png") no-repeat center center;
	background-size: cover;
}

#buttonu30083.ButtonSelected,#buttonu68053.ButtonSelected
{
	background: transparent url("../images/social%20icons%20by%20dreamstale%20(6)-buttonu30279-fr.png") no-repeat center center;
	background-size: cover;
}

