.version.partners /* version checker */
{
	color: #000009;
	background-color: #1A500B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 550px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#ppu67694-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -43px;
	margin-left: -100px;
}

#pu67694-3
{
	width: 0.01px;
	padding-bottom: 59px;
}

#u67694-3
{
	z-index: 151;
	min-height: 43px;
}

#u67694-3-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 151;
	top: -36px;
}

#u67738
{
	z-index: 197;
	width: 118px;
	top: -43px;
	left: -90px;
}

#u67692
{
	z-index: 202;
	width: 1160px;
	top: 7px;
	left: -100px;
}

#u67692_img
{
	padding-left: 1px;
}

#ppu70335
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
}

#u70335
{
	z-index: 58;
	width: 230px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 45px;
}

#buttonu70316
{
	z-index: 139;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#buttonu70316:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 320px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u70318
{
	z-index: 140;
	width: 229px;
	border-color: #000000;
	padding-bottom: 93px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 45px;
	background: #545454 url("../images/amazon%20logo.jpg") no-repeat left top;
	background-size: cover;
}

#buttonu70316:hover #u70318
{
	width: 229px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
	background: #FFFFFF url("../images/amazon%20logo.jpg") no-repeat left top;
	background-size: cover;
}

#buttonu70316.ButtonSelected #u70318
{
	width: 229px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
	background: #545454 url("../images/amazon%20logo.jpg") no-repeat left top;
	background-size: cover;
}

#u70317-4
{
	z-index: 141;
	width: 320px;
	min-height: 10px;
	background-color: transparent;
	text-align: center;
	font-family: playfair-display, serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: -45px;
}

#buttonu70316:hover #u70317-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 320px;
	margin: 8px -10000px 0px 0px;
}

#buttonu70316.ButtonSelected #u70317-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 320px;
	margin: 8px -10000px 0px 0px;
}

#u70339
{
	z-index: 62;
	width: 277px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 19px;
}

#buttonu70319
{
	z-index: 145;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 10px;
	padding-bottom: 47.05000000000004px;
	position: relative;
	margin-right: -10000px;
}

#buttonu70319:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 320px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u70320-4
{
	z-index: 147;
	width: 320px;
	min-height: 10px;
	background-color: transparent;
	text-align: center;
	font-family: playfair-display, serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#buttonu70319:hover #u70320-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 320px;
	margin: 0px;
}

#u70321
{
	z-index: 146;
	width: 273px;
	height: 53px;
	border-color: #000000;
	margin-left: 29px;
	margin-top: 13px;
	position: relative;
	background: transparent url("../images/james%20allen%20logo.jpg") no-repeat left top;
	background-size: contain;
}

#buttonu70319:hover #u70321
{
	width: 273px;
	height: 53px;
	min-height: 0px;
	margin: 13px 0px 0px 29px;
	background: #FFFFFF url("../images/james%20allen%20logo.jpg") no-repeat left top;
	background-size: contain;
}

#buttonu70319.ButtonSelected #u70321
{
	width: 273px;
	height: 53px;
	min-height: 0px;
	margin: 13px 0px 0px 29px;
	background: transparent url("../images/james%20allen%20logo.jpg") no-repeat left top;
	background-size: contain;
}

#u70331
{
	z-index: 54;
	width: 190px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 65px;
}

#buttonu70294
{
	z-index: 99;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 10px;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#buttonu70294:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 320px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u70296-4
{
	z-index: 101;
	width: 320px;
	min-height: 10px;
	background-color: transparent;
	text-align: center;
	font-family: playfair-display, serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#buttonu70319.ButtonSelected #u70320-4,#buttonu70294:hover #u70296-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 320px;
	margin: 0px;
}

#u70295
{
	z-index: 100;
	width: 200px;
	height: 82px;
	border-color: #000000;
	margin-left: 58px;
	margin-top: 1px;
	position: relative;
	background: transparent url("../images/shutterfly%20logo2.jpg") no-repeat left top;
	background-size: contain;
}

#buttonu70294:hover #u70295
{
	width: 200px;
	height: 82px;
	min-height: 0px;
	margin: 1px 0px 0px 58px;
	background: #FFFFFF url("../images/shutterfly%20logo2.jpg") no-repeat left top;
	background-size: contain;
}

#buttonu70294.ButtonSelected #u70295
{
	width: 200px;
	height: 82px;
	min-height: 0px;
	margin: 1px 0px 0px 58px;
	background: transparent url("../images/shutterfly%20logo2.jpg") no-repeat left top;
	background-size: contain;
}

#u70327
{
	z-index: 50;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 97px;
}

#buttonu70284
{
	z-index: 80;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 10px;
	padding-bottom: 26px;
	position: relative;
	margin-right: -10000px;
}

#buttonu70284:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 320px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u70286-4
{
	z-index: 82;
	width: 320px;
	min-height: 10px;
	background-color: transparent;
	text-align: center;
	font-family: playfair-display, serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#buttonu70294.ButtonSelected #u70296-4,#buttonu70284:hover #u70286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 320px;
	margin: 0px;
}

#u70285
{
	z-index: 81;
	width: 148px;
	height: 81px;
	border-color: #000000;
	margin-left: 96px;
	margin-top: 6px;
	position: relative;
	background: transparent url("../images/etsy%20logo2.jpg") no-repeat left top;
	background-size: contain;
}

#buttonu70284:hover #u70285
{
	width: 148px;
	height: 81px;
	min-height: 0px;
	margin: 6px 0px 0px 96px;
	background: #FFFFFF url("../images/etsy%20logo2.jpg") no-repeat left top;
	background-size: contain;
}

#buttonu70284.ButtonSelected #u70285
{
	width: 148px;
	height: 81px;
	min-height: 0px;
	margin: 6px 0px 0px 96px;
	background: transparent url("../images/etsy%20logo2.jpg") no-repeat left top;
	background-size: contain;
}

#menuu67695
{
	z-index: 154;
	width: 633px;
	top: -36px;
	left: 136px;
}

#u67710
{
	width: 80px;
	min-height: 42px;
	margin-right: -10000px;
}

#u67713
{
	width: 80px;
	padding-bottom: 25px;
}

#u67713.MuseMenuActive
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u67716-4
{
	width: 37px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 21px;
}

#u67713.MuseMenuActive #u67716-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u67703
{
	width: 81px;
	min-height: 42px;
	margin-right: -10000px;
	left: 82px;
}

#u67704
{
	width: 81px;
	padding-bottom: 25px;
}

#u67704:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u67704.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u67705-4
{
	width: 38px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 21px;
}

#u67704:hover #u67705-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u67704.MuseMenuActive #u67705-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u67731
{
	width: 106px;
	min-height: 42px;
	margin-right: -10000px;
	left: 165px;
}

#u67732
{
	width: 106px;
	padding-bottom: 25px;
}

#u67732.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u67735-4
{
	width: 63px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 21px;
}

#u67732:hover #u67735-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u67732.MuseMenuActive #u67735-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u69247
{
	width: 100px;
	min-height: 42px;
	margin-right: -10000px;
	left: 273px;
}

#u69250
{
	width: 100px;
	padding-bottom: 25px;
}

#u69250:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u69250.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u69252-4
{
	width: 57px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 21px;
}

#u69250:hover #u69252-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u69250.MuseMenuActive #u69252-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u67724
{
	width: 91px;
	min-height: 42px;
	margin-right: -10000px;
	left: 375px;
}

#u67727
{
	width: 91px;
	padding-bottom: 25px;
}

#u67727:hover
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u67727.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u67728-4
{
	width: 48px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 21px;
}

#u67727:hover #u67728-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u67727.MuseMenuActive #u67728-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u67717
{
	width: 71px;
	min-height: 42px;
	margin-right: -10000px;
	left: 468px;
}

#u67718
{
	width: 71px;
	padding-bottom: 25px;
}

#u67718:hover
{
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u67718.MuseMenuActive
{
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u67721-4
{
	width: 29px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 21px;
}

#u67718:hover #u67721-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 29px;
	margin: 0px -10000px 0px 0px;
}

#u67718.MuseMenuActive #u67721-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 29px;
	margin: 0px -10000px 0px 0px;
}

#u67696
{
	width: 92px;
	min-height: 42px;
	margin-right: -10000px;
	left: 541px;
}

#u67697
{
	width: 92px;
	padding-bottom: 25px;
}

#u67697:hover
{
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u67697.MuseMenuActive
{
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u67698-4
{
	width: 50px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
	left: 21px;
}

#u67697:hover #u67698-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u67697.MuseMenuActive #u67698-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#ppu70343
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 320px;
}

#u70343
{
	z-index: 66;
	width: 276px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 29px;
}

#buttonu70312
{
	z-index: 132;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 10px;
	padding-bottom: 31px;
	position: relative;
	margin-right: -10000px;
}

#buttonu70312:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 320px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u70315-4
{
	z-index: 133;
	width: 320px;
	min-height: 10px;
	background-color: transparent;
	text-align: center;
	font-family: playfair-display, serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#buttonu70284.ButtonSelected #u70286-4,#buttonu70312:hover #u70315-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 320px;
	margin: 0px;
}

#u70313
{
	z-index: 137;
	width: 269px;
	background-color: transparent;
	margin-left: 33px;
	margin-top: 10px;
	position: relative;
}

#buttonu70312:hover #u70313
{
	width: 269px;
	min-height: 0px;
	margin: 10px 0px 0px 33px;
}

#buttonu70312.ButtonSelected #u70313
{
	width: 269px;
	min-height: 0px;
	margin: 10px 0px 0px 33px;
}

#u70349
{
	z-index: 72;
	width: 243px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 37px;
}

#buttonu70304
{
	z-index: 118;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 10px;
	padding-bottom: 55.20175781249989px;
	position: relative;
	margin-right: -10000px;
}

#buttonu70304:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 320px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u70307-4
{
	z-index: 121;
	width: 320px;
	min-height: 10px;
	background-color: transparent;
	text-align: center;
	font-family: playfair-display, serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#buttonu70312.ButtonSelected #u70315-4,#buttonu70304:hover #u70307-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 320px;
	margin: 0px;
}

#u70305
{
	z-index: 119;
	width: 230px;
	background-color: transparent;
	margin-left: 44px;
	margin-top: 28px;
	position: relative;
}

#buttonu70304:hover #u70305
{
	width: 230px;
	min-height: 0px;
	margin: 28px 0px 0px 44px;
}

#buttonu70304.ButtonSelected #u70305
{
	width: 230px;
	min-height: 0px;
	margin: 28px 0px 0px 44px;
}

#pu70341
{
	width: 0.01px;
	margin-top: -1px;
}

#u70341
{
	z-index: 64;
	width: 172px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 76px;
}

#buttonu70300
{
	z-index: 111;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 10px;
	padding-bottom: 36px;
	position: relative;
	margin-right: -10000px;
}

#buttonu70300:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 320px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u70303-4
{
	z-index: 114;
	width: 320px;
	min-height: 10px;
	background-color: transparent;
	text-align: center;
	font-family: playfair-display, serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#buttonu70304.ButtonSelected #u70307-4,#buttonu70300:hover #u70303-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 320px;
	margin: 0px;
}

#u70301
{
	z-index: 112;
	width: 192px;
	background-color: transparent;
	margin-left: 64px;
	margin-top: 3px;
	position: relative;
}

#buttonu70300:hover #u70301
{
	width: 192px;
	min-height: 0px;
	margin: 3px 0px 0px 64px;
}

#buttonu70300.ButtonSelected #u70301
{
	width: 192px;
	min-height: 0px;
	margin: 3px 0px 0px 64px;
}

#u70345
{
	z-index: 68;
	width: 301px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 7px;
}

#buttonu70290
{
	z-index: 92;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 10px;
	padding-bottom: 28.093749999999545px;
	position: relative;
	margin-right: -10000px;
}

#buttonu70290:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 320px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u70293-4
{
	z-index: 95;
	width: 320px;
	min-height: 10px;
	background-color: transparent;
	text-align: center;
	font-family: playfair-display, serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#buttonu70300.ButtonSelected #u70303-4,#buttonu70290:hover #u70293-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 320px;
	margin: 0px;
}

#u70291
{
	z-index: 93;
	width: 308px;
	background-color: transparent;
	margin-left: 5px;
	margin-top: 8px;
	position: relative;
}

#buttonu70290:hover #u70291
{
	width: 308px;
	min-height: 0px;
	margin: 8px 0px 0px 5px;
}

#buttonu70290.ButtonSelected #u70291
{
	width: 308px;
	min-height: 0px;
	margin: 8px 0px 0px 5px;
}

#ppu70347
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 640px;
}

#u70347
{
	z-index: 70;
	width: 266px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 29px;
}

#buttonu70308
{
	z-index: 125;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 10px;
	padding-bottom: 48.052518979447356px;
	position: relative;
	margin-right: -10000px;
}

#buttonu70308:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 320px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u70309-4
{
	z-index: 126;
	width: 320px;
	min-height: 10px;
	background-color: transparent;
	text-align: center;
	font-family: playfair-display, serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#buttonu70290.ButtonSelected #u70293-4,#buttonu70308:hover #u70309-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 320px;
	margin: 0px;
}

#u70310
{
	z-index: 130;
	width: 273px;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 16px;
	position: relative;
}

#buttonu70308:hover #u70310
{
	width: 273px;
	min-height: 0px;
	margin: 16px 0px 0px 22px;
}

#buttonu70308.ButtonSelected #u70310
{
	width: 273px;
	min-height: 0px;
	margin: 16px 0px 0px 22px;
}

#u70337
{
	z-index: 60;
	width: 243px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 37px;
}

#buttonu70287
{
	z-index: 86;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-left: 1px;
	padding-top: 9px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#buttonu70287:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 320px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u70289-4
{
	z-index: 88;
	width: 320px;
	min-height: 10px;
	background-color: transparent;
	text-align: center;
	font-family: playfair-display, serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#buttonu70308.ButtonSelected #u70309-4,#buttonu70287:hover #u70289-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 320px;
	margin: 0px;
}

#u70288
{
	z-index: 87;
	width: 245px;
	height: 101px;
	border-color: #000000;
	margin-left: 36px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	background: transparent url("../images/beau-coup%20logo.gif") no-repeat left top;
	background-size: contain;
}

#buttonu70287:hover #u70288
{
	width: 245px;
	height: 101px;
	min-height: 0px;
	margin: 0px 0px -2px 36px;
	background: #FFFFFF url("../images/beau-coup%20logo.gif") no-repeat left top;
	background-size: contain;
}

#buttonu70287.ButtonSelected #u70288
{
	width: 245px;
	height: 101px;
	min-height: 0px;
	margin: 0px 0px -2px 36px;
	background: transparent url("../images/beau-coup%20logo.gif") no-repeat left top;
	background-size: contain;
}

#u70333
{
	z-index: 56;
	width: 187px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 67px;
}

#buttonu70297
{
	z-index: 105;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-left: 1px;
	padding-top: 10px;
	padding-bottom: 27.099999999999966px;
	position: relative;
	margin-right: -10000px;
}

#buttonu70297:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 320px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u70299-4
{
	z-index: 107;
	width: 320px;
	min-height: 10px;
	background-color: transparent;
	text-align: center;
	font-family: playfair-display, serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#buttonu70287.ButtonSelected #u70289-4,#buttonu70297:hover #u70299-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 320px;
	margin: 0px;
}

#u70298
{
	z-index: 106;
	width: 187px;
	height: 82px;
	border-color: #000000;
	margin-left: 66px;
	margin-top: 4px;
	position: relative;
	background: transparent url("../images/usabride%20logo2.jpg") no-repeat left top;
	background-size: contain;
}

#buttonu70297:hover #u70298
{
	width: 187px;
	height: 82px;
	min-height: 0px;
	margin: 4px 0px 0px 66px;
	background: #FFFFFF url("../images/usabride%20logo2.jpg") no-repeat left top;
	background-size: contain;
}

#buttonu70297.ButtonSelected #u70298
{
	width: 187px;
	height: 82px;
	min-height: 0px;
	margin: 4px 0px 0px 66px;
	background: transparent url("../images/usabride%20logo2.jpg") no-repeat left top;
	background-size: contain;
}

#pu70335,#pu70339,#pu70331,#pu70327,#pu70343,#pu70349,#pu70345,#pu70347,#pu70337,#pu70333,#pu70329
{
	width: 0.01px;
}

#u70329
{
	z-index: 52;
	width: 205px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 62px;
}

#buttonu70281
{
	z-index: 74;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 10px;
	padding-right: 1px;
	padding-bottom: 39px;
	position: relative;
	margin-right: -10000px;
}

#buttonu70281:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 320px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu70316.ButtonSelected,#buttonu70319.ButtonSelected,#buttonu70294.ButtonSelected,#buttonu70284.ButtonSelected,#buttonu70312.ButtonSelected,#buttonu70304.ButtonSelected,#buttonu70300.ButtonSelected,#buttonu70290.ButtonSelected,#buttonu70308.ButtonSelected,#buttonu70287.ButtonSelected,#buttonu70297.ButtonSelected,#buttonu70281.ButtonSelected
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 320px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u70282-4
{
	z-index: 76;
	width: 320px;
	min-height: 10px;
	background-color: transparent;
	text-align: center;
	font-family: playfair-display, serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#buttonu70297.ButtonSelected #u70299-4,#buttonu70281:hover #u70282-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 320px;
	margin: 0px;
}

#buttonu70281.ButtonSelected #u70282-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 320px;
	margin: 0px;
}

#u70283
{
	z-index: 75;
	width: 227px;
	height: 52px;
	border-color: #000000;
	margin-left: 60px;
	margin-top: 22px;
	position: relative;
	background: transparent url("../images/jo-ann%20logo2.png") no-repeat left top;
	background-size: contain;
}

#buttonu70281:hover #u70283
{
	width: 227px;
	height: 52px;
	min-height: 0px;
	margin: 22px 0px 0px 60px;
	background: #FFFFFF url("../images/jo-ann%20logo2.png") no-repeat left top;
	background-size: contain;
}

#buttonu70281.ButtonSelected #u70283
{
	width: 227px;
	height: 52px;
	min-height: 0px;
	margin: 22px 0px 0px 60px;
	background: transparent url("../images/jo-ann%20logo2.png") no-repeat left top;
	background-size: contain;
}

#ppbuttonu30081
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 607px;
}

#pbuttonu30081
{
	width: 0.01px;
	margin-left: 106px;
}

#buttonu30081
{
	z-index: 2;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
}

#buttonu30081:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu30070
{
	z-index: 3;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	left: 31px;
}

#buttonu30081.ButtonSelected,#buttonu30070:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu30083
{
	z-index: 4;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	left: 60px;
}

#buttonu30070.ButtonSelected,#buttonu30083:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu30083.ButtonSelected
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30082-5
{
	z-index: 5;
	width: 200px;
	margin-top: 19px;
}

#buttonu30293
{
	z-index: 14;
	width: 109px;
	height: 42px;
	margin-right: -10000px;
	margin-top: 598px;
	left: 416px;
}

#buttonu30293:hover
{
	width: 109px;
	height: 42px;
	min-height: 0px;
	margin: 598px -10000px 0px 0px;
}

#buttonu30293.ButtonSelected
{
	width: 109px;
	height: 42px;
	min-height: 0px;
	margin: 598px -10000px 0px 0px;
}

#pu30233-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin: 593px -10000px -5px 705px;
}

#u30233-4
{
	z-index: 10;
	width: 136px;
}

#widgetu30302
{
	z-index: 15;
	width: 0.01px;
	height: 61px;
	margin-top: 2px;
}

#widgetu30306
{
	z-index: 16;
	width: 136px;
	height: 28px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu30306.fld-err-st
{
	width: 136px;
	height: 28px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u30307-4
{
	z-index: 17;
	width: 122px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
}

#widgetu30306:hover #u30307-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#widgetu30306.focus-st #u30307-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#widgetu30306.fld-err-st #u30307-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#widgetu30306_input,#widgetu30306_prompt
{
	width: 122px;
	min-height: 14px;
	padding: 6px;
}

#widgetu30306:hover #widgetu30306_input,#widgetu30306.focus-st #widgetu30306_input,#widgetu30306.fld-err-st #widgetu30306_input,#widgetu30306:hover #widgetu30306_prompt,#widgetu30306.focus-st #widgetu30306_prompt,#widgetu30306.fld-err-st #widgetu30306_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u30305-4
{
	z-index: 21;
	width: 135px;
	min-height: 12px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 31px;
}

#u30304-4
{
	z-index: 25;
	width: 134px;
	min-height: 26px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 31px;
}

#widgetu30302.frm-subm-err-st #u30304-4
{
	min-height: 30px;
}

#u30303-4
{
	z-index: 29;
	width: 135px;
	min-height: 12px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 31px;
}

#widgetu30302.frm-sub-st #u30305-4,#widgetu30302.frm-subm-ok-st #u30303-4
{
	min-height: 16px;
}

#u30310-17
{
	z-index: 33;
	min-height: 28px;
	width: 53px;
	margin-right: -10000px;
	left: 139px;
}

#buttonu68051
{
	z-index: 199;
	width: 25px;
	height: 25px;
	top: -26px;
	left: 925px;
}

#buttonu68051:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px;
}

#buttonu68052
{
	z-index: 200;
	width: 25px;
	height: 25px;
	top: -26px;
	left: 956px;
}

#buttonu68051.ButtonSelected,#buttonu68052:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px;
}

#buttonu68053
{
	z-index: 201;
	width: 25px;
	height: 25px;
	top: -26px;
	left: 985px;
}

#buttonu68052.ButtonSelected,#buttonu68053:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px;
}

#buttonu68053.ButtonSelected
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 10px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -593px;
}

#widgetu30302.frm-subm-ok-st #u30303-4 p,#widgetu30302.frm-sub-st #u30305-4 p,#widgetu30302.frm-subm-err-st #u30304-4 p
{
	padding: 0px;
}

